<!-- customer/profile-info.html -->

{% extends 'base.html' %}


{% block content %}
<main>
	<section class="container">
		<h1> Profile - {{customer.user.username}}</h1>
		<div class="box-wrapper">
			<div class="box-left">
				<label class="label">Customer id:</label>
				<div class="box box-light-border box-left-bg">{{customer.pk}}</div>
				<label class="label">Phonenumber</label>
				<div class="box box-light-border box-left-bg">{{customer.phone_number}}</div>
				<label class="label">E-mail</label>
				<div class="box box-light-border box-left-bg">{{customer.email}}</div>
				<label class="label">Rank</label>
				<div class="box box-light-border box-left-bg">{{customer.rank}}</div>
				{{ test_form }}	
			</div>
			<div class="box-right">
				<label class="label">Accounts</label>
				{% for account in accounts %}
				<a href="{% url 'bank_ledger_app:account-info' account.pk %}">
					<div class="box box-light-border box-column-2x">
						<span>{{account.account_name}}</span>
						<span>{{account.balance}} kr</span>
					</div>
				</a> 
				{% endfor %}
				<div class="btn-wrapper">
					<a class="btn-blue" href="{% url 'bank_ledger_app:own-transfer' %}">Transer to own</a>
					<a class="btn-blue btn-right" href="{% url 'bank_ledger_app:other-transfer' %}">Transer to others</a>
				</div>

				<br>
				<label class="label">{% if loans|length > 0 %}Loans{% endif%}</label>

				{% for loan in loans %}
				{% if loan.current_balance == 0 %}
				<a href="{% url 'bank_ledger_app:loan-info' loan.loan_id %}" style="display: none">
					<div class="box box-light-border box-column-2x">
						<span>{{ loan.comment|slice:"11:-1"|default:"(No name)" }}</span>
						<span>{{ loan.current_balance }} kr</span>
					</div>
				</a>
				{% else%}
				<a href="{% url 'bank_ledger_app:loan-info' loan.loan_id %}">
					<div class="box box-light-border box-column-2x">
						<span>{{ loan.comment|slice:"11:-1"|default:"(No name)" }}</span>
						<span>{{ loan.current_balance }} kr</span>
					</div>
				</a>
				{% endif %}
				{% endfor%}
			</div>
		</div>
	</section>
</main>
{% endblock content %}

